name: Release Assets

on:
  release:
    types: [published]

jobs:
  upload-translations:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install p7zip
        run: sudo apt-get update && sudo apt-get install -y p7zip-full

      - name: Compress translations
        run: 7z a -m0=lzma2 -md=128m -ms=on translations.7z ./translations

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: translations.7z
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
